{% extends 'base.html' %}
{% block content %}

{% include "partials/navbar.html"%}

<main class="container mx-auto mt-8 px-4">
    <div class="flex flex-col md:flex-row justify-center gap-8 px-6">
        <div class="bg-white p-6 rounded-lg shadow-md lg:min-w-1/2">
            <h2 class="text-xl font-semibold mb-4">Informações do rolê: {{event.title}}</h2>
    
            <div class="space-y-1">
                <p class="text-gray-600 mt-2 md:text-base text-sm">{{event.description}}</p>
                <p class="font-semibold text-gray-800"> Marcado para o dia {{event.date}} </p>
                <p class="flex items-center font-semibold text-gray-800">
                    <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                    {{event.location}}
                </p>
            </div>
            <div class="h-[1px] bg-gray-600 my-3"></div>
            <div>
                <p class="text-gray-600 md:text-base text-sm">Segue abaixo os itens a serem reservados por vocês. PS: O rolê só estará confirmado caso 70% dos itens estiverem reservados.</p>
                <h3 class="text-xl font-semibold">Itens:</h3>
            </div>
        </div>
    
        <div class="bg-white p-6 rounded-lg shadow-md lg:w-1/2 min-w-[40%] flex flex-col justify-between space-y-4">
            <h2 class="text-xl font-semibold mb-4">Lista de Convidados</h2>
            <div class="flex items-center flex-col space-y-3">
                <p class="text-xl md:text-2xl text-center">Ainda não possui nenhum convidado</p>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-14">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>				  
            </div>

            <div class="w-full flex gap-2">
                <div type="submit" class="w-full text-center text-xs sm:text-base md:text-xs lg:text-base items-center justify-center flex bg-transparent text-green-600 border border-green-600 py-3 px-4 rounded-md font-medium">
                    Adicionar Convidado
                </div>
                <button class="bg-green-600 text-white p-4 rounded-md hover:bg-green-800 transition">
                    +
                </button>
            </div>
        </div>

        
        
    </div>
</main>



{% endblock %}